# Reference hosted-runtime versions for Python 3.12 and 3.14.
# Use with: python -m pip install -c constraints-public.txt -e .
aiohappyeyeballs==2.7.1
aiohttp==3.13.2
aiosignal==1.4.0
attrs==26.1.0
frozenlist==1.8.0
idna==3.19
multidict==6.7.1
numpy==2.3.5
propcache==0.5.2
scipy==1.16.3
yarl==1.24.5
typing-extensions==4.16.0; python_version < "3.13"
